services:
  app:
    environment:
      APP_DEBUG: 'false'
      # Please regenerate the APP_KEY value by calling `docker compose run --rm app php artisan key:generate --show`.
      # Copy paste the value here.
      APP_KEY: base64:<snipe_app_key>
      APP_URL: https://assets.replacethisdomain.com
      # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones - TZ identifier
      APP_TIMEZONE: America/Los_Angeles
      DB_PASSWORD: <replace_random_a>
      MAIL_HOST: relay.replacethisdomain.com
      MAIL_FROM_ADDR: assets@replacethisdomain.com
      MAIL_REPLYTO_ADDR: assets@replacethisdomain.com
      MAIL_BACKUP_NOTIFICATION_ADDRESS: <gmail_address>
    labels:
      caddy: assets.replacethisdomain.com
      caddy.tls.dns.token: <desec_token>
      jump.url: 'https://assets.replacethisdomain.com'
  db:
    environment:
      MYSQL_PASSWORD: <replace_random_a>
      MYSQL_ROOT_PASSWORD: <replace_random_b>
